# 复制为 server/.env 中对象存储相关段落（填入 setup.sh 生成的密码）
CACHE_UPLOAD_BACKEND=s3
S3_ENDPOINT=http://139.180.199.42:9000
S3_ACCESS_KEY_ID=steamminio
S3_SECRET_ACCESS_KEY=REPLACE_FROM_/opt/steamgame-data/.env
S3_BUCKET=steamgame
PUBLIC_CACHE_CDN_BASE=http://139.180.199.42:9000/steamgame
REDIS_URL=redis://:REPLACE_REDIS_PASSWORD@139.180.199.42:6379
DISCOUNT_OFFERS_PERSISTENCE=object_storage
